.css-1aquho2-MuiTabs-indicator {
    background-color: #1F3770 !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #1F3770 !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    text-transform: none !important;
}

.search-button {
    color: #ffffff !important;
    background-color: #1F3770 !important;
}

.css-911tg4-MuiChip-root {
    border-color: #1F3770 !important;
    color: #1F3770 !important;
}

.tab-value {
    margin: 0 20px 0 20px !important;
}

/* Extra small devices (phones, 900px and down) */
@media only screen and (max-width: 500px) {
    .search-button {
        width: 200px;
    }
}
