.box-container {
  margin: 2em 6em
}

.search-button {
  color: #ffffff !important;
  background-color: #1F3770 !important;
}

/* Extra small devices (phones, 900px and down) */
@media only screen and (max-width: 500px) {
  .search-button {
      width: 200px;
  }
}
