.MuiMenuItem-root {
    display: block !important;
}

.css-hnuyd2-MuiInputBase-input-MuiOutlinedInput-input {
    min-width: 80% !important;
    max-width: 80% !important;
}

// .box-container {
//     margin: 2em 6em
// }

// /* Extra small devices (phones, 900px and down) */
// @media only screen and (max-width: 500px) {
//     .search-button {
//         width: 200px;
//     }
// }
